<?xml version="1.0" encoding="utf-8"?>
<configuration>	
	<appSettings>
		<!--  This is a tag used to differentiate logs by environment -->
		<add key="RecodifyLogging:Environment" value="Unit-Test" />
		<!--    This is the connection string to your rabbitMQ instance -->
		<add key="RabbitMqConnectionString" value="host=cascadelogs.cloudapp.net;virtualHost=/;username=publisher;password=snowwhite" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
	<!--<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="Fallback" switchValue="Information, Error, Warning">
				<listeners>
					--><!-- This is optional and will log any errors publishing to RabbitMQ and can be useful for diagnosing initial setup --><!--
					<add name="FallBackTraceListners" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />					
					</listeners>
				</source>					
				<source name="requestTraceSource" switchValue="Verbose, Information, Error, Warning">
					<listeners>
						<add name="RequestListener" type="Recodify.Logging.Listeners.RabbitMq.TraceListener, Recodify.Logging.Listeners" initializeData="events-live,logs-live,logging-test" />
					</listeners>
				</source>
			<source name="responseTraceSource" switchValue="Verbose, Information, Error, Warning">
				<listeners>
					<add name="ResponseListener" type="Recodify.Logging.Listeners.RabbitMq.TraceListener, Recodify.Logging.Listeners" initializeData="events-live,logs-live,logging-test" />
				</listeners>
			</source>
			</sources>
	</system.diagnostics>-->
	<startup>
			<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
